body {
    font-family: Arial, sans-serif;
  }
  P , h1,h2, h3 {
      margin: 5px;
  }
  p{
      font-size: 20px;
  }
  .container {
    width: 950px;
    margin: 0 auto;
    padding: 20px;
    border: 4px double #000;
    border-radius: 10px;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .logo {
    width: 100px;
  }
  .certificate-code {
    text-align: center;
    margin-top: 20px;
  }
  .user-section {
    text-align: center;
    margin-bottom: 30px;
  }
  .user-image {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .user-name {
    font-size: 24px;
    font-weight: bold;
  }
  .user-response{
    text-decoration: underline; 
    font-weight: bold;
  }
  .content { 
    display: flex;
  }
  .left-header {
    width: 10%;
    height: 15%;
    text-align: right;
  }
  .center-header {
    text-align: center;
  }
  .right-header {
    margin-right: 0%;
    width: 20%;
    height: 15%;
    text-align: left;
  }
  .left-content {
    width: 50%;
    padding-right: 20px;
    border-right: 2px solid #ccc;
    text-align: right;
  }
  .right-content {
    width: 50%;
    padding-left: 20px;
    text-align: left;
  }
  .border{
    border: 2px solid #000;
    
  }
  .center{
display: flex;
justify-content: center;    }
  .column {
float: left;
width: 30.33%;
border: 2px solid;
padding: 5px;
height: 180px;
}