body {
    font-family: Arial, sans-serif;
  }
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 10px double black ;
    border-radius: 10px;
    background-color: rgb(235, 235, 125);
    display: flex;
    flex-direction: column;
  }
  P , h1,h2, h3 {
      margin: 5PX;
  }
  h2{
      text-decoration: underline;
  }
  .logo {
    width: 100px;
  }
  .certificate-code {
    text-align: center;
    margin-top: 10px;
  }
  .user-section {
    text-align: center;
    margin-bottom: 30px;
  }
  .user-image {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .user-name {
    font-size: 24px;
    font-weight: bold;
  }
  .user-response{
    text-decoration: underline; 
    font-weight: bold;
  }
  .content {
    display: flex;
    margin-bottom: 20px;
  }
  .left-header {
    width: 10%;
    text-align: right;
  }
  .center-header {
    width: 80%;
    text-align: center;
  }
  .right-header {
    width: 20%;
    text-align: left;
    margin-right: 0px;
  }
  .left-content {
    width: 50%;
    padding-right: 20px;
    border-right: 2px solid #ccc;
    text-align: center;
  }
  .right-content {
    width: 50%;
    padding-left: 20px;
    text-align: center;
  }
 .alignLeft{
  text-align: left;
 }
  .footer {
    text-align: center;
    margin-top: 20px;
  } 
  .footer-seal {
    width: 80px;
  }
  .footer-signature {
    margin-top: 10px;
  }
  .imagePosition {
  Position: relative;
  top: -13%;
  }
  .imagePosition2 {
  Position: relative;
  top: -350px;
  left: -22%;
  }
  .center{
    display: flex;
    justify-content: center;    }